/*
    custom fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v53/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}
.in-display {
    display: block !important;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
/*
    End of custom fonts
*/
.entry-title {
    display: none;
}
.reklamshop-editor-cover {
    position: relative;
    background-color: #696969;
    width: 100%;
    height: 500px;
    overflow-x: scroll;
    overflow-y: scroll;
    display: inline-flex;
}
/*
.reklamshop-editor-inside {
    position: relative;
    width: 80%;
    height: 100%;
    display:inline-block;
}
*/
.reklamshop-editor-inside {
    position: absolute;
    width: 100%;
    height: 100%;
    display:inline-block;
    z-index: 1;
}
.reklamshop-editor-area {
    position: relative;
    width: 500px;
    top: 50%;
    transform: translate(0%, -50%);
    background-color: white;
    margin: 0 auto;
    box-shadow: 2px 2px 10px 1px #3c3c3c;
}
.editor-tools-top {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #23282d;
    top:0px;
    display: flex;
    padding-top: 3px;
    padding-bottom: 3px;
    z-index: 2;
}

.editor-tools-side {
    position: relative;
    width: 50px;
    height: 100%;
    background-color: #23282d;
    display: inline-block;
    top: 0px;
    z-index: 2;
}
.reklamshop-editor-area canvas {
    position: relative;
}
.editor-tools-grid {
    position: relative;
    min-width: 30px;
    height: 40px;
    display: table-cell;
    vertical-align: middle;
    color: white;
    shape-outside: margin-box;
    margin-top: 2px;
    padding: 7px;
}
.editor-full-screen-ico {
    color: white;
}
.editor-fullScreen {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    height: 100% !important;
    z-index: 999 !important;
}
.document-color-container {
    width: 174px;
}
.document-size-container {
    width: 338px;
}
.editor-tools-container {
    background-color: black;
    margin-right: 5px;
    border-radius: 7px;
    padding-left: 8px;
}
.editor-tools-input {
    padding: 1px;
    width: 71px;
    height: 23px;
    border-radius: 3px;
}
.editor-tools-row-head {
    position: relative;
    width: 100%;
    height: 50px;
}
.editor-tools-row {
    position: relative;
    width: 100%;
    height: 25px;
    display: inline-block;
}
.editor-tools-item {
    position: relative;
    width: 100%;
    text-align: center;
    color: white;
    border:1px solid #1a1a1a;
}
.editor-tools-item:hover {
    background-color: #0f834d;
}
.tool-active {
    background-color: #0f834d;
}
.editor-control-panel {
    background-color: #23282d;
    border: 1px solid #3575ff;
    display: none;
    width: 200px;
    /*height: 100px; */
    box-shadow: 0px 0px 4px black;
    padding: 5px;
    border-radius: 5px;
}
.upload-button-area {
    position: relative;
    height: 100%;
    width: 150px;
}
#upload-menu-button {
    background-color: #5dbf15;
    color: white;
    border: 1px solid #000000;
    border-radius: 8px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    /* height: 50px; */
    padding: 7%;
    text-align: center;
    cursor: pointer;
}
.upload-buttons-container {
    width: 100%;
    height: 324px;
    background-color: #23282d;
    position: relative;
    bottom: 55px;
    /* right: -25px; */
    top: 50%;
    transform: translate(0%, -50%);
    border-radius: 10px;
    box-shadow: 0px 0px 2px #3575ff;
    display: none;
}
.upload-button-cover {
    width: 100%;
    position: relative;
    margin: 5px;

}
.upload-button-cover:first-child {
    margin-top: 15px;
}
.upload-button-cover input[type="button"] {
    width: 93%;
}
.inShow {
    display: table;
}
.green-btn {
    background-color: #5dbf15 !important;
    border-radius: 5px !important;
    border: 1px solid #f7f7f7 !important;
}
.editor-control-panel hr {
    margin-bottom: 0;
}
.ecp-row {
    display: block;
}
.ecp-icon {
    display: inline-block;
    color: white;
    margin: 5px;
}
.ecp-font-size {
    width: 55px;
    height: 20px;
}
.ecp-font-family {
    width: 107px;
}
.add-ons-buttons {
    width: 38px;
    position: absolute;
    right: 0;
    top:57px;
    height: 92%;
    z-index: 3;

}
.add-on-button {
    color: white;
    width: 100%;
    background-color: #23282d;
    position: relative;
    cursor: pointer;
    margin-bottom: 5px;
    border-bottom-left-radius: 10px;
}
.add-ons-group-container-show {
    height: auto !important;
}
.add-on-button:hover {
    background-color: #0f834d;
}
.add-ons-close {
    position: absolute;
    color: white;
    background-color: #23282d;
    left: -24px;
    padding: 5px;
    top: 0;
    cursor: pointer;
}
.add-on-button span {

    -webkit-transform: rotate(270deg);
    -webkit-transform-origin: left bottom;
    -moz-transform: rotate(270deg);
    -moz-transform-origin: left bottom;
    -ms-transform: rotate(270deg);
    -ms-transform-origin: left bottom;
    -o-transform: rotate(270deg);
    -o-transform-origin: left bottom;
    transform: rotate(270deg);
    transform-origin: left bottom;

    position: absolute;
    top: 47%;
    left: 100%;
    white-space: nowrap;
    font-size: 22px;
}
.add-on-button.font-button {
    height: 75px;
}
.add-on-button.shapes-button {
    height: 87px;
}
.add-on-button.upload-button {
    height: 87px;
}
.add-ons-cover {
    width: 285px;
    position: absolute;
    right: 0;
    height: 87%;
    background-color: #23282d;
    padding: 5px;
    display: none;
    z-index: 3;
    top: 54px;
}
.add-ons-container {
    display: none;
}
.shapes-obj {
    position: relative;
    width: 49%;
    display: inline-block;
    cursor: pointer;
}
.shapes-obj svg {
    height: 100%;
    width: 100%;
    display: inline-block;
}
.sample-font {
    position: relative;
    width: 100%;
    height: 25px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    margin-bottom: 5px;
}
.sample-font span {
    text-align: center;
    font-size: 14px;
    color: black;
}
.add-ons-group {
    position: relative;
}
.add-ons-group-title {
    position: relative;
    width: 100%;
    background-color: #0e0f10;
    padding: 5px;
    color: white;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.add-ons-group-title:hover, .add-ons-group-title:hover:after  {
    color: #0f834d;
}
.add-ons-group-title i {
    position: absolute;
    right: 10px;
}
.group-title-ico.fa-sort-up {
    top: 12px;
}
.add-ons-group-container {
    background-color: #181b1a;
    padding-top: 5px;
    height: 0px;
    overflow-x: hidden;
    overflow-y: hidden;

}
.sample-font[data="times"] {
    font-family: "Times New Roman";
}
.sample-font[data="notable"] {
    font-family:"notable";
}
.sample-font[data="piedra"] {
    font-family:"piedra";
}
.sample-font[data="MuseoModerno"] {
    font-family:"MuseoModerno";
}
.sample-font[data="Pangolin"] {
    font-family:"Pangolin";
}

